* {
    --background: #181a1b;
    --primary: #0dcaf0;
    --primary-secondary: #4cacfc;
    --secondary: #cecac3;
    --red: #ea868f;
}

body {
    background-color: var(--background);
    color: var(--primary);

    padding: 0px;
    margin: 0px;

    font-size: 18px;


    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/*  */
pre {
    font-family: "JetBrains Mono", monospace;
    background-color: #282c2e;
    color: var(--secondary);
    border-radius: 10px;
    padding: 20px;
}

span.note {
    font-style: italic;
    font-size: 15px;
    color: var(--secondary);
}

/* UTILITIES */
.none {
    display: none;
}

/* MAIN INDEX PAGE STYLISATION */
.container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.container .title {
    font-size: 3em;
    color: var(--primary-secondary);
    border-bottom: 1px solid rgb(53, 58, 60);
} 

.category-title {
    font-size: 40px;
}

.category-sub-title {
    color: var(--red);
    font-size: 30px;
    margin-top: 55px;
}

.category-sub-title i {
    color: var(--red) !important;
}

#menu .global-titles {
    display: flex;
    cursor: pointer;
}

#menu .global-titles .caret {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 18px;
}

#menu a {
    font-size: 22px;
    display: flex;
    margin-top: 10px;
    text-decoration: none;
}

#menu a i {
    width: 40px;
    color: var(--primary);
}

#menu a span {
    color: var(--secondary);
    font-weight: 800;
}

#menu .sub-titles {
    margin-top: 10px;
    margin-left: 20px;
}

#menu .sub-titles ul {
    margin-bottom: 20px;
}

#menu .sub-titles ul i  {
    color: var(--red);
}

#menu .sub-titles ul i ~ span {
    margin-top: 10px;
    font-weight: 800;

    color: var(--secondary)
}

#menu .sub-titles ul li {
    list-style: square;
}

#menu .sub-titles a,
#content i {
    color: var(--primary-secondary);
}

#content section {
    margin-top: 100px;
}

#content h2 {
    font-size: 25px;
    color: var(--secondary);

}

#content div {
    margin-bottom: 80px;
}